<div class="row">
  <div class="col-lg-6 offset-md-3">
<form (submit)="loginUser($event)">
  <input type="text" placeholder="Username" id="username">
  <input type="password" placeholder="Password" id="password">
  <input type="submit" value="submit">
</form>
  </div>
</div>

<table border="1">
  <tr>
    <td>No.</td>
    <td>user_id</td>
    <td>user_pass</td>
    <td>user_status</td>
  </tr>
  <tr *ngFor="let alluser of alluser; let i = index;">
    <td> {{i+1}}. </td>
    <td>{{alluser.user_id}}</td>
    <td>{{alluser.user_pass}}</td>
    <td>{{alluser.user_status}}</td>
  </tr>
</table>