<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>submenu2</nb-card-header>
      <nb-card-body>
        <table border="1">
          <tr>
            <td>No.</td>
            <td>EnNo</td>
            <td>Name</td>
            <td>DateTime</td>
          </tr>
          <tr *ngFor="let allFin of allFin; let i = index;">
            <td>{{allFin.No}}</td>
            <td>{{allFin.EnNo}}</td>
            <td>{{allFin.Name}}</td>
            <td>{{allFin.DateTime}}</td>
          </tr>
        </table>

      </nb-card-body>
    </nb-card>
  </div>
</div>
